@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&family=Alegreya+Sans+SC:wght@300&display=swap');

h1,h2,h3,h4,h5,h6,p, button {
	font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 2px;
}

button{
	border: 2px solid #BA895C;
	color: #f1f1f1;
	background-color: #365347;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
	border-radius: 5%;
	/* background: radial-gradient(ellipse at center,transparent 10%,#000 100%); */
}
body{
	background-color: #365347;
	color: #f1f1f1;
	background: radial-gradient(ellipse at center,#365347 30%,#000 120%);
}

.mainContainer{
	display: flex;
	flex-direction: column;
}

.topContainer{
	display: flex;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
}





.roundNumber{
	border: 2px solid #BA895C;
	color: #f1f1f1;
	background-color: #365347;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.middleContainer{
	display: flex;
	justify-content: space-evenly;
}

.bottomContainer{
	display: flex;
}

.endGameButton, .endRoundButton, .leaderboardButton{
	margin-top: 1.7%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.teamOne, .teamTwo, .teamThree{
	display: flex;
	flex-direction: column;
	background-color: #365343;
	border: 3px solid #BA895C;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    border-radius: 15px;
    padding: 2em;
    margin: 0.5em 1em;
	width: 100%;
	height: 225px;
	text-align: center;
	color: #F1F1F1;
	background: radial-gradient(ellipse at center,transparent 30%,#000 100%);
}

p{
	margin-top: auto;
}

.logoActive{
	width: 50%;
	color: radial-gradient(ellipse at center,#365347 30%,#000 120%);
}

.scoreButtons{
	display: flex;
	justify-content: space-evenly;
	margin-top: auto;
	margin-bottom: auto;
}

.bottomContainer{
	display: flex;
	justify-content: space-evenly;
	margin-top: 2%;
}

.copyright{
	text-align: center;
	margin-top: 3%;
}

.leaderboard{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.startPage{
	display: flex;
	flex-direction: column;
	flex-basis: auto;
	justify-content: center;
}

.logo{
	justify-self: center;
}

.startPicture{
	justify-self: center;
	margin-left: 25%;
	animation-name: fade-in;
	animation-duration: 10s;
}

.indexLogo{
	margin-top: 1%;
	margin-left: 27.8%;
}

@keyframes fade-in {
	from {opacity:0%;}
	to {opacity:100%;}
  }

.betweenTop{
	display: flex;
}